.formContainer
{
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 2.5%;
    width: 300px;

	label, input
	{
		display: block;
		width: 120px;
		float: left;
		margin-bottom: 10px;
	}

	span
	{
		text-align: center;
		width: 100%;
		display: block;
	}

	button
	{
		width: 100%;
	}

	label
	{
		text-align: right;
		padding-right: 20px;
	}
 
	br
	{
		clear: left;
	}
}

.red
{
	color: red;
}

.white
{
	color: white;
}

.center
{
	text-align: center;
}

.b
{
	font-weight: bold;
}

#loginInfo .userName
{
	line-height: 30px;
	font-weight: bold;
	color: white;
}

body
{
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar-brand
{
	padding: 0 0 0 0 !important;
}

#logoTitle
{
	float: left;
	padding: 15px;
}

#logo
{
	display: block;
	float: right;
}