.formContainer
{
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 2.5%;
    width: 300px;

	label, input
	{
		display: block;
		width: 120px;
		float: left;
		margin-bottom: 10px;
	}

	span
	{
		text-align: center;
		width: 100%;
		display: block;
	}

	button
	{
		width: 100%;
	}

	label
	{
		text-align: right;
		padding-right: 20px;
	}
 
	br
	{
		clear: left;
	}
}

#logoDemoContainer
{
	margin-top: 15px;
}

#appGuideTable
{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;

	td
	{
		text-align: center;
	}
}

.red
{
	color: red;
}

.white
{
	color: white;
}

#helpContainer
{
	float: right;
	color: white;
	font-weight: bold;
	margin-left: 10px;
	padding: 14px;
	cursor: pointer;
	cursor: hand;
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

.left
{
	text-align: left;
}

.rightf
{
	float: right;
}

.leftf
{
	float: left;
}

.table
{
	display: table;
	width: auto;
	margin: 0 auto;
}

.cbl
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: auto;
	height: 20px;
	padding-top: 3px;
	padding-left: 6px;
}

.cb
{
	width: 20px;
	height: 20px;
}

.marTop10
{
	margin-top: 10px;
}

.b
{
	font-weight: bold;
}

#loginInfo .userName
{
	line-height: 30px;
	font-weight: bold;
	color: white;
}

body
{
	padding-top: 70px;
	padding-bottom: 20px;
}

.navbar-brand
{
	padding: 0 0 0 0 !important;
}

#logoTitle
{
	float: left;
	padding: 15px;
}

#logo
{
	display: block;
	float: left;
}

.loader
{
	position: fixed;
	z-index: 100000;
	background-color: rgba(255, 255, 255, .85);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.emptyMsg
{
	font-style: italic;
	text-align: center;
	margin-top: 10px;
}

.btnFooter
{
	margin-top: 25px;
	text-align: center;
}

@media (min-width: 768px) and (max-width: 960px) {
	body
	{
		padding-top: 120px;
	}
}

.btnFooter .btn
{
	width: 100%;
}