<hgroup class="title">
    <h2>Create a new account.</h2>
</hgroup>

<div id="registerContainer" class="formContainer">
    <label for="userName">username:</label>
    <input type="text" id="userName" data-bind="value: userName, valueUpdate: 'afterkeydown'" />
    <br />

    <label for="password">password:</label>
    <input type="password" id="password" />
    <br />

    <label for="confirmPassword">confirm password:</label>
    <input type="password" id="confirmPassword" />
    <br />

    <span class="errors"></span>
    <br />

    <button type="submit" id="registerBtn">Register</button>
    <br />
</div>