<div id="decksSection" class="section hide">
    <div class="container">

        <div data-bind="visible: decks().length == 0">
            <p class="emptyMsg">You have no decks yet</p>
            <div class="note center">
                <div class="table">
                    <div class="tip leftf">Tip: </div>
                    <div class="leftf">
                    At first add new <a class="helpLink" href="#">deck</a>.<br />
                    Then click button with deck's name to add new <a class="helpLink" href="#">cards</a>.
                    </div>
                </div>
            </div>
        </div>

        <div class="datagrid" data-bind="visible: decks().length > 0">
            <table>
                <thead>
                    <tr>
                        <th class="w6">
                            Title
                        </th>
                        <th>
                            Cards number
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: decks">
                    <tr>
                        <td class="w6">
                            <a class="btn btn-small btn-info" style="width: 100%;" href="#" data-bind="text: title, click: $parent.clickAction"></a>
                        </td>
                        <td>
                            <span data-bind="text: cardsNumber"></span>
                        </td>
                        <td>
                            <a href="#" data-bind="click: $parent.removeDeck" class="btn btn-small btn-danger b">✘</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="newDeckContainer" class="row btnFooter">
            <div class="col-md-10"><input type="text" data-bind="value: newDeckTitle, valueUpdate: 'afterkeydown'" placeholder="Name" class="form-control" /></div>
            <div class="col-md-2"><a class="btn btn-primary" data-bind="click: addDeck" href="#" role="button">Add deck</a></div>
        </div>

    </div>
</div>