<div id="editDeckSection" class="section hide">
    <div class="container">

        <div class="title2cols row center">
            <h3 class="b">Deck: Angielski (100 cards)</h3>
        </div>

        <div class="row">
            <div class="htmlEditorContainer col-md-6">
                <h4 class="b">Front:</h4>
                <textarea class="htmlEditor" placeholder="dgkjdfgldjgf" style="height: 200px;"></textarea>
            </div>
            <div class="htmlEditorContainer col-md-6">
                <h4 class="b">Back:</h4>
                <textarea class="htmlEditor" style="height: 200px"></textarea>
            </div>
        </div>

        <div class="row right marTop10">
            <button class="btn btn-primary">
                Add card
            </button>
        </div>

    </div>
</div>