@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_LoginInfo")

<div class="formLayout">
    <label for="userName">username:</label>
    <input type="text" id="userName" data-bind="value: userName" /><br />
    
    <label for="password">password:</label>
    <input type="password" id="password" data-bind="value: password" /><br />
    
    <span data-bind="html: errors"></span><br />
        
    <button data-bind="click: login">Login</button><br />
</div>


@*@Html.Partial("_Login")

@Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl });

@Html.Partial("_Register")*@

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>krok1</h5>
        ASP.NET Mt web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>krok2</h5>
        NuGet mak
    </li>

    <li class="three">
        <h5>krok3</h5>
        sfkgjlk fsdlgk
    </li>
</ol>