<div id="registrationSection" class="section hide">
    <div class="container">

        <h2 class="center">Create a new account.</h2>
    
        <table id="registrationForm" class="mmtable">
            <tr>
                <td>
                    <label for="registerUserName">username:</label>
                </td>
                <td>
                    <input type="text" id="registerUserName" data-bind="value: userName, valueUpdate: 'afterkeydown'" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="registerPassword">password:</label>
                </td>
                <td>
                    <input type="password" id="registerPassword" data-bind="value: password, valueUpdate: 'afterkeydown'" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="registerConfirmPassword">confirm password:</label>
                </td>
                <td>
                    <input type="password" id="registerConfirmPassword" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown'" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span data-bind="html: errors" class="errors red"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tdbtn">
                    <button type="submit" class="btn btn-large btn-success" id="registerBtn" data-bind="click: register">
                        Register
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>