<div id="studyListSection" class="section hide">
    <div class="container">

        <div class="row">

            <div data-bind="visible: decksToReview().length == 0">
                <p class="emptyMsg">
                    No cards to review
                </p>
                <p class="note center">
                    <span class="tip">Tip: </span>Choose "Decks" from menu to add new <a class="helpLink" href="#">cards</a>.
                </p>
            </div>

            <div data-bind="visible: decksToReview().length > 0, foreach: decksToReview">
                <div class="center spaceBtn">
                    <a class="btn btn-small btn-info row" data-bind="click: $parent.clickAction" style="width: 90%;" href="#">
                        <div class="col-md-6" data-bind="text: title">
                        </div>
                        <div class="col-md-6">
                            (<span class="b red" data-bind="text: cardsNumber">
                             </span> cards to review)
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>