<div id="studyListSection" class="section hide">
    <div class="container">
        <div class="row">
            <div>
                <a class="btn btn-small btn-info" style="width: 100%;" href="#">angielski (12 cards to review)</a>
            </div>
        </div>
    </div>
</div>